/* ==============================================
   COLORS

   ============================================== */
h1 {
    font-family: 'Quicksand';
    color: black;
}

h2 {
    font-family: 'Quicksand'
    color: black;
}
h3 {
    font-family: 'Quicksand'
    color: black;
}

p { 
    font-family: 'Quicksand';
   /* color: rgba(253, 195, 119, 0.884);*/
   color: black;
    font-weight: 80px;
}

li {
    font-family: 'Quicksand';
    color: rgb(255, 222, 0);
    font-weight: 80px;
}

.lijn {
    opacity: 0.2;

}

a{
    color:  rgba(247, 145, 12, 0.884)
}

a:hover{
    color: beige;
    text-decoration: none;
}

.titel_links {
    margin-left: 200px;
}

.titel_rechts{
    margin-right: 200px;
}
/* ==============================================
   GLOBAL STYLES
   ============================================== */
   @import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Quicksand');

   article{
    background-color:;
    margin-bottom: 0.7rem;
   }

.header {
    width: 100%;
}

.achtergrond{ 
    background-color:;
}

tekst_uitschuif {
    color: white;
}

.infinity {
    margin-top: 50px;
}


.titel {
    margin-top: 0px;
    margin-left: 300px;
}

.slideshow {
    margin-top: 300;
}

/* MEDIA QUERIES
*********************************************/


/* Extra small devices (portrait phones, less than 576px)
/ No media query since this is the default in Bootstrap*/


/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {}


/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {}


/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {}


/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}

p.uppercase {
    text-transform: uppercase;
}
.item{
    text-decoration: none;
    border-bottom: none;
}

.uitschuif {
    position: center;
}

h3{
    color: black;

}


ol {
    color: yellow;
}