/* ==============================================
   COLORS

   ============================================== */
h1 {
    font-family: 'Quicksand';
    color: black;
}

h2 {
    font-family: 'Quicksand'
    color: black;
}
h3 {
    font-family: 'Quicksand'
    color: black;
}

p { 
    font-family: 'Quicksand';
    color: rgb(255, 222, 0);
    font-weight: 80px;
}


/* ==============================================
   GLOBAL STYLES
   ============================================== */
   @import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Quicksand');

   article{
    background-color:;
    margin-bottom: 0.7rem;
   }

.header {
    width: 100%;
}

.achtergrond{ 
    background-color: black;
}

tekst_uitschuif {
    color: white;
}





/* MEDIA QUERIES
*********************************************/


/* Extra small devices (portrait phones, less than 576px)
/ No media query since this is the default in Bootstrap*/


/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {}


/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {}


/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {}


/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}

p.uppercase {
    text-transform: uppercase;
}
.item{
    text-decoration: none;
    border-bottom: none;
}

a{
    color: white;
}
a:hover{
    color: beige;
    text-decoration: none;
}

.uitschuif {
    position: center;
}

h3{
    color:white;

}


ol {
    color: yellow;
}