/* ==============================================
   COLORS

   ============================================== */
h1 {
    font-family: 'Quicksand';
    color: black;
}

h2 {
    font-family: 'Quicksand'
    color: black;
}
h3 {
    font-family: 'Quicksand'
    color: black;
}

p { 
    font-family: 'Quicksand';
   /* color: rgba(253, 195, 119, 0.884);*/
   color: black;
    font-weight: 80px;
}

li {
    font-family: 'Quicksand';
    color: black;
    font-weight: 80px;
}

.lijn {
    opacity: 0.2;

}

a{
    color:  rgba(247, 145, 12, 0.884);
    font-size: 15px;
}

a:hover{
    color: rgba(255, 123, 0, 0.918);
    text-decoration: none;
}

.titel_links {
    margin-left: 200px;
}

.titel_links2 {
    margin-left: 180px;
}

.titel_rechts{
    margin-right: 200px;
}


/* ==============================================
   GLOBAL STYLES
   ============================================== */
   @import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Quicksand');

   article{
    background-color:;
    margin-bottom: 0.7rem;
   }

.header {
    background: url(../afbeeldingen/header2.png) no-repeat center;
    background-size: auto 100%;
    height: 120px;
    width:auto;
}

.achtergrond{ 
    background-color:;
}

tekst_uitschuif {
    color: white;
}

.infinity {
    margin-top: 0px;
}


.titel {
    margin-top: 0px;
    margin-left: 300px;
}

.slideshow {
    
    margin: auto;
    width: 100%;
}

.lager {
    margin-top: px;
}

.uitschuif {
    border: none;
}
.playlist-desktop {
    display: none;
    
}

.tekst {
    text-indent: -99999px;
}

.titel_artiest {
    margin-left: 10px;
    color: rgba(247, 79, 12, 0.884);
}
.afbeelding_artiest {
    margin-left: 10px;
}
/* MEDIA QUERIES
*********************************************/


/* Extra small devices (portrait phones, less than 576px)
/ No media query since this is the default in Bootstrap*/


/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
    html{
        font-size: 3px;
    }



/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    html{
        font-size: 15px;
    }
    .header {
        background: url(../afbeeldingen/header2.png) no-repeat center;
        background-size: cover;
        height: 160px;
        width:auto;
        
    }
    .playlist-desktop {
        display: block;
        border: solid 1
    }
    .playlist-mobile {
        display:none;
        border: solid 1px green;
    }
}


/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
    html{
        font-size: 18px;
    }
}


/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
    html{
        font-size: 18px;
    }
}

p.uppercase {
    text-transform: uppercase;
}
.item{
    text-decoration: none;
    border-bottom: none;
}

.uitschuif {
    position: center;
}

h3{
    color: black;

}


ol {
    color: yellow;
}